  .exception {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }
    .exception .imgBlock {
        -ms-flex: 0 0 62.5%;
        flex: 0 0 62.5%;
        width: 62.5%;
        padding-right: 152px;
        zoom: 1;
    }
    .exception .content {
        -ms-flex: auto;
        flex: auto;
    }
    .exception .content .desc {
        color: rgba(0,0,0,.45);
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
    }
    
    .exception .imgEle {
        height: 360px;
        width: 100%;
        max-width: 430px;
        float: right;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
    }
    .exception .err403 {
        background-image: url('../../../assets/403.svg');
    }
    .exception .err404 {
        background-image: url('../../../assets/404.svg');
    }
     .exception .err500 {
        background-image: url('../../../assets/500.svg');
    }
      