.app-main{
    background: none !important;
}
.avatar {
    font-family: "Monospaced Number","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    text-align: center;
    background: #ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
}
.layout, .layout * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.layout-content {
  -ms-flex: auto;
  flex: auto;
}
.pageHeader___Pze-l {
    background: #fff;
    padding: 16px 32px 0;
    border-bottom: 1px solid #e8e8e8;
}
.pageHeader___Pze-l .breadcrumb___3MKYT {
    margin-bottom: 16px;
}
.breadcrumb {
    font-family: "Monospaced Number","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgba(0,0,0,.45);
    font-size: 14px;
}
.layout, .layout * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pageHeader___Pze-l .detail___1rfGA, .pageHeader___Pze-l .row___3eawN {
    display: flex;
}
.main___3Slzs {
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
}
.pageHeader___Pze-l .row___3eawN {
    display: flex;
}
.pageHeader___Pze-l .content___BnbuS{
  margin-bottom: 16px;
}
.pageHeaderContent___1WBMY {
    display: flex;
}
.pageHeaderContent___1WBMY .avatar___3yyKI {
    -ms-flex: 0 1 72px;
    flex: 0 1 72px;
    margin-bottom: 8px;
}
.pageHeaderContent___1WBMY .avatar___3yyKI>span {
    border-radius: 72px;
    display: block;
    width: 72px;
    height: 72px
}
.avatar>img {
    width: 100%;
    height: 100%;
    display: block;
}
.pageHeaderContent___1WBMY .content___3h7ql {
    position: relative;
    top: 4px;
    margin-left: 24px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: rgba(0,0,0,.45);
    line-height: 22px;
}
.pageHeaderContent___1WBMY .content___3h7ql .contentTitle___4Mmy4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: rgba(0,0,0,.85);
    margin-bottom: 12px;
}
.pageHeader___Pze-l .extraContent___3mck4 {
    margin-left: 200px;
    min-width: 242px;
}
.pageHeader___Pze-l .action___2qsxF, .pageHeader___Pze-l .extraContent___3mck4 {
    text-align: right;
}
.extraContent___1Im9T {
    zoom: 1;
    float: right;
    white-space: nowrap;
}
.extraContent___1Im9T .statItem___axqF9 {
    padding: 0 32px;
    position: relative;
    display: inline-block;
}
.extraContent___1Im9T:after, .extraContent___1Im9T:before {
    content: " ";
    display: table;
}
.extraContent___1Im9T:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.extraContent___1Im9T .statItem___axqF9:after {
    background-color: #e8e8e8;
    position: absolute;
    top: 8px;
    right: 0;
    width: 1px;
    height: 40px;
    content: "";
}
.extraContent___1Im9T .statItem___axqF9:last-child {
    padding-right: 0;
}
.extraContent___1Im9T .statItem___axqF9:last-child:after {
    width: 0px;
}
.extraContent___1Im9T .statItem___axqF9>p:first-child {
    color: rgba(0,0,0,.45);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 4px;
}

.extraContent___1Im9T .statItem___axqF9>p {
    color: rgba(0,0,0,.85);
    font-size: 30px;
    line-height: 38px;
    margin: 0;
}

.content___13wW7 {
  margin: 24px 24px 0;
  /*background-color: rgb(240, 242, 245);*/
}
.row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.row:after, .row:before {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.card {
    font-family: "Monospaced Number","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    border-radius: 2px;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.card-contain-grid:not(.card-loading) {
    margin: -1px 0 0 -1px;
    padding: 0;
}
.card-head {
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 24px;
    border-radius: 2px 2px 0 0;
    zoom: 1;
    margin-bottom: -1px;
    min-height: 48px;
}
.card-head:after, .card-head:before {
    content: " ";
    display: table;
}
.card-head:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.card-head-wrapper {
    display: flex;
}
.card-head-title {
    font-size: 16px;
    padding: 16px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0,0,0,.85);
    font-weight: 500;
    display: inline-block;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
}
.card-extra {
    float: right;
    padding: 17.5px 0;
    text-align: right;
    margin-left: auto;
}
.card-extra {
    float: right;
    padding: 17.5px 0;
    text-align: right;
    margin-left: auto;
}
.card-body {
    zoom: 1;
}
.card-body:after, .card-body:before {
    content: " ";
    display: table;
}
.card-body:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.card-grid {
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, 1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;
    box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, inset 1px 0 0 0 #e8e8e8, inset 0 1px 0 0 #e8e8e8;
    width: 33.33%;
    float: left;
    padding: 24px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.projectList___3oQ1f .projectGrid___udXto {
    width: 33.33%;
}
.card-meta {
    margin: -4px 0;
    zoom: 1;
}
.card-meta:after, .card-meta:before {
    content: " ";
    display: table;
}
.card-meta:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.projectList___3oQ1f .projectItemContent___2M3Iz {
    display: -ms-flexbox;
    display: flex;
    margin-top: 8px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}
.card-meta-detail {
    overflow: hidden;
}
.card-meta-detail>div:not(:last-child) {
    margin-bottom: 8px;
}
.card-meta-title {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0,0,0,.85);
    font-weight: 500;
}
.projectList___3oQ1f .cardTitle___dc4KN {
    font-size: 0;
}
.avatar-sm {
    width: 24px;
    height: 24px;
    border-radius: 12px;
}
.avatar-image {
    background: transparent;
}
.projectList___3oQ1f .cardTitle___dc4KN a {
    color: rgba(0,0,0,.85);
    margin-left: 12px;
    line-height: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.projectList___3oQ1f .card-meta-description {
    color: rgba(0,0,0,.45);
    height: 44px;
    line-height: 22px;
    overflow: hidden;
}
.card-meta-description {
    color: rgba(0,0,0,.45);
}
.projectList___3oQ1f .projectItemContent___2M3Iz a {
    color: rgba(0,0,0,.45);
    display: inline-block;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}
.projectList___3oQ1f .projectItemContent___2M3Iz .datetime___35Apf {
    color: rgba(0,0,0,.25);
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    float: right;
}
.datetime___35Apf {
    color: rgba(0,0,0,.25);
}
.list {
    font-family: "Monospaced Number","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.spin-container {
    position: relative;
    zoom: 1;
}
.spin-container {
    overflow: visible!important;
}
.spin-container:after, .spin-container:before {
    content: " ";
    display: table;
}
.spin-container:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.activitiesList___1iu8_ {
    padding: 0 24px 8px;
}
.list * {
    outline: none;
}
.list-lg .list-item {
    padding-top: 16px;
    padding-bottom: 16px;
}
.list-split .list-item {
    border-bottom: 1px solid #e8e8e8;
}
.list-item {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
}
.list-item-meta {
    -ms-flex-align: start;
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    font-size: 0;
}
.list-item-meta-avatar {
    margin-right: 16px;
}
.list-item-meta-content {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
}
.list-item-meta-title {
    color: rgba(0,0,0,.65);
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 22px;
}
.activitiesList___1iu8_ .username___3QGFo {
    color: rgba(0,0,0,.65);
}
.activitiesList___1iu8_ .event___17TiG {
    font-weight: normal;
}
.list-item-meta-description {
    color: rgba(0,0,0,.45);
    font-size: 14px;
    line-height: 22px;
}
.datetime___35Apf {
    color: rgba(0,0,0,.25);
}
.linkGroup___2K_Ra>a {
    color: rgba(0,0,0,.65);
    display: inline-block;
    font-size: 14px;
    margin-bottom: 13px;
    width: 25%;
}
.linkGroup___2K_Ra {
    padding: 20px 0 8px 24px;
    font-size: 0;
}
.btn-background-ghost.btn-primary {
    color: #1890ff;
    background-color: transparent;
    border-color: #1890ff;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.btn .anticon {
    -webkit-transition: margin-left .3s cubic-bezier(.645,.045,.355,1);
    transition: margin-left .3s cubic-bezier(.645,.045,.355,1);
}
.btn-background-ghost {
    background: transparent!important;
    border-color: #fff;
    color: #fff;
}
.btn-primary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}
.btn-sm {
    padding: 0 7px;
    font-size: 14px;
    border-radius: 4px;
    height: 24px;
}
.btn, .btn:active, .btn:focus {
    outline: 0;
}
.btn {
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    height: 32px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    position: relative;
    color: rgba(0,0,0,.65);
    background-color: #fff;
    border-color: #d9d9d9;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.btn>.anticon {
    line-height: 1;
}
.btn>i, .btn>span {
    pointer-events: none;
}
.btn>i, .btn>span {
    pointer-events: none;
}
.btn>.anticon+span, .btn>span+.anticon {
    margin-left: 8px;
}
.radar___30Maa .legend___2iq-R {
    margin-top: 16px;
}
.row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.row:after, .row:before {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.radar___30Maa .legend___2iq-R .legendItem___2Uwpw {
    position: relative;
    text-align: center;
    cursor: pointer;
    color: rgba(0,0,0,.45);
    line-height: 22px;
}
.radar___30Maa .legend___2iq-R .legendItem___2Uwpw p {
    margin: 0;
}
.radar___30Maa .legend___2iq-R .dot___3rWm7 {
    border-radius: 6px;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: -1px;
    height: 6px;
    width: 6px;
}
.radar___30Maa .legend___2iq-R .legendItem___2Uwpw h6 {
    color: rgba(0,0,0,.85);
    padding-left: 16px;
    font-size: 24px;
    line-height: 32px;
    margin-top: 4px;
    margin-bottom: 0;
}
.radar___30Maa .legend___2iq-R .legendItem___2Uwpw:after {
    background-color: #e8e8e8;
    position: absolute;
    top: 8px;
    right: 0;
    height: 40px;
    width: 1px;
    content: "";
}
.members___3KDpx a, .members___3KDpx a .member___3l6FE {
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}
.members___3KDpx a {
    display: block;
    margin: 12px 0;
    height: 24px;
}
.members___3KDpx a .member___3l6FE {
    font-size: 14px;
    color: rgba(0,0,0,.65);
    max-width: 100px;
    vertical-align: top;
    margin-left: 12px;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: inline-block;
}
.layout-footer {
    /*background: #f0f2f5;*/
    padding: 24px 50px;
    color: rgba(0,0,0,.65);
    font-size: 14px;
}
.layout-footer, .layout-header {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.globalFooter___3uaww {
    padding: 0 16px;
    margin: 48px 0 24px;
    text-align: center;
}
.globalFooter___3uaww .links___lgymZ {
    margin-bottom: 8px;
}
.globalFooter___3uaww .copyright___3hV2q {
    color: rgba(0,0,0,.45);
    font-size: 14px;
}
.globalFooter___3uaww .links___lgymZ a:not(:last-child) {
    margin-right: 40px;
}
.globalFooter___3uaww .links___lgymZ a {
    color: rgba(0,0,0,.45);
    -webkit-transition: all .3s;
    transition: all .3s;
}
layout, .layout * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.anticon {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.card-wider-padding .card-body {
    padding: 24px 32px;
}
.descriptionList___2AbEi.large___25R-v .title___2ntbz {
    font-size: 16px;
}
.descriptionList___2AbEi .title___2ntbz {
    font-size: 14px;
    color: rgba(0,0,0,.85);
    font-weight: 500;
    margin-bottom: 16px;
}
.descriptionList___2AbEi .row {
    margin-bottom: -16px;
    overflow: hidden;
}

.row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.row:after, .row:before {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.descriptionList___2AbEi .term___3Nnpj {
    line-height: 20px;
    padding-bottom: 16px;
    margin-right: 8px;
    color: rgba(0,0,0,.85);
    white-space: nowrap;
    display: table-cell;
}
.descriptionList___2AbEi .term___3Nnpj:after {
    content: ":";
    margin: 0 8px 0 2px;
    position: relative;
    top: -.5px;
}
.descriptionList___2AbEi .detail___2VV5O {
    line-height: 22px;
    width: 100%;
    padding-bottom: 16px;
    color: rgba(0,0,0,.65);
    display: table-cell;
}
.divider {
    font-family: "Monospaced Number","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #e8e8e8;
}
.divider, .divider-vertical {
    margin: 0 8px;
    display: inline-block;
    height: .9em;
    width: 1px;
    vertical-align: middle;
    position: relative;
    top: -.06em;
}
.divider-horizontal {
    display: block;
    height: 1px;
    width: 100%;
    margin: 24px 0;
    clear: both;
}
.title___7ZT_t {
    color: rgba(0,0,0,.85);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.h-table .demo-table-info-row td{
  font-weight:bold;
  color:#000;
}
.h-table td.demo-table-info-column{
    color: #1890ff;
}