.content {
    margin: 24px 24px 0;
}
.tablealert_wrap {
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 10px;
}
.alert_info {
    border: 1px solid #91d5ff;
    background-color: #e6f7ff;
}
.alert {
    font-family: "Monospaced Number","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    padding: 8px 15px 8px 17px;
    border-radius: 4px;
}
.btn_add{
    margin-left: 12px;
    margin-top: 16px;
    margin-bottom: 8px;
}
.table_detail{
  margin: 10px 10px 10px 16px;
}
.status_dot {
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 8px;
}
.status_default {
    background-color: #d9d9d9;
}
.status_error {
    background-color: #f5222d;
}
.status_processing {
    background-color: #1890ff;
    position: relative;
}
.status_success {
    background-color: #52c41a;
}
.render_button{
  color:#1890ff;
}
